body {
  font-family: optima;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 70px;
  top: 0;
  position: fixed;
  background-color: #ff9b7a;
  display: flex;
}

#nav-bar {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
}

#nav-list {
  display: flex;
  align-items: center;
  padding: 7px;
}

#nav-list a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  margin: 10px;
}

#nav-list a:hover{
  color: black;
}

#header-img {
  height: 75%;
  margin: 2%;
}

.container {
  text-align: center;
  margin-top: 100px;
}

section {
  width: 60vw;
}

h2 {
  border-bottom: 3px solid #ff9b7a;
  padding-bottom: 7px;
}

.regular-text {
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0 100px;
}

@media (max-width: 768px) {
  section {
    width: 100vw;
  }
  .regular-text {
    margin: 0;
  }
}

#about {
  margin-top: 20px;
  display: inline-block;
}

#minimalist-design {
  margin-top: 3%;
}

#designer-list {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

figure {
  display: table;
  width: calc(100% / 3);
  cursor: pointer;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  padding: 5px;
}

form {
  border: 1px solid;
  margin: 5%;
}

#enter-description {
  width: 50%;
  display: inline-block;
}

#enter-email {
  margin: 3% 0;
}

#email, textarea {
  width: 25vw;
  font-size: 0.9rem;
  font-family: inherit;
  text-align: left;
  display: block;
  margin: 1% auto;
  padding: 5px;
  border: 1px solid #aba9a8;
  background: transparent;
}

#email:focus, textarea:focus {
  outline-color: #7affff;
}

#submit {
  margin-bottom: 4%;
  font: inherit;
  border: none;
  padding: 1% 3%;
  background-color: #ff9b7a;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#submit:hover {
  color: black;
}
